# dependencies
/node_modules

# build output
/.next/
/out/
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
*.log.*

# environment variables
.env*
next-env.d.ts

# vercel
.vercel

# typescript
*.tsbuildinfo

# test/debug files
text.html

# system files
.DS_Store
Thumbs.db

# lock files
yarn.lock
pnpm-lock.yaml
